html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
div{
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}
div::-webkit-scrollbar {
  display: none;
  scrollbar-color: transparent transparent;
}