section{
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}
section::-webkit-scrollbar {
  display: none;
  scrollbar-color: transparent transparent;
  width: 0;
  height: 0;
} 
